<mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
  <h2>Login</h2>
  <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
    <p>
      <mat-form-field appearance="outline" fxFlex="300px" fxFlex.lt-md="200px">
        <mat-label>Usuário</mat-label>
        <input
          matInput
          type="text"
          formControlName="usuario"
          id="usuario"
          placeholder="Usuário"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" fxFlex="300px" fxFlex.lt-md="200px">
        <mat-label>Senha</mat-label>
        <input
          type="password"
          formControlName="senha"
          id="senha"
          matInput
          placeholder="Senha"
        />
        <mat-icon matSuffix>lock_outline</mat-icon>
      </mat-form-field>
    </p>
    <div fxLayout fxLayoutAlign="center">
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
          Login
        </button>
      </mat-card-actions>
    </div>
  </form>
  <p>Não possui cadastro ? <a [routerLink]="['newuser']">Cadastrar</a></p>
</mat-card>
